footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border-top: 3px solid #aace9b;
}

.footer-socials {
  display: flex;
  align-items: center;
}

.footer-socials img {
  padding: 16px 5px 6px 5px;
}

.twitter,
.face {
  width: 13px;
  height: 12px;
}

.linkedin,
.instagram {
  width: 16px;
  height: 15px;
}

.github {
  width: 20px;
  height: 19px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
