header {
  display: flex;
  align-items: center;
  height: 30px;
  background: #aace9b;
}

.header-menu {
  margin-left: 10px;
}

.header-menu img {
  width: 12px;
  height: 10px;
}

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 15px;
  margin-left: 100px;
  background: #fafbfd;
  border: 1px solid #aace9b;
  border-radius: 10px;
}

.header-search input {
  width: 130px;
  height: 15px;
  font-size: 10px;
  background-color: #fafbfd;
  border-radius: 10px;
  border: none;
  outline: none;
}


.header-search-img {
  width: 8px;
  height: 8px;
  filter: invert(17%) sepia(20%) saturate(1151%) hue-rotate(204deg)
    brightness(95%) contrast(4%);
}

@media only screen and (min-width: 834px) {
  header {
    height: 92px;
  }

  .header-menu {
    margin-left: 33px;
  }

  .header-menu img {
    width: 30px;
    height: 30px;
  }

  .header-search {
    justify-content: flex-start;
    width: 377px;
    height: 36px;
    border-radius: 50px;
    margin-left: 173px;
  }

  .header-search input {
    width: 330px;
    height: 36px;
    font-size: 15px;
    margin-left: 5px;
    border-radius: 50px;
  }

  .header-search img {
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }
}

