.fifth-section {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30px;
}

.fifth-section h2 {
  width: 70px;
  height: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 5px;
  border-bottom: 2px solid #aace9b;
}

.fifth-section-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph {
  width: 331px;
  margin-top: 20px;
}

.fifth-section p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
.fifth-section p:nth-child(3) {
  display: none;
}

.fifth-section figure {
  align-self: center;
}

.fifth-section div img {
  width: 180px;
  height: 80px;
  margin-top: 20px;
}

@media only screen and (min-width: 834px) {
  .fifth-section {
    margin-top: 60px;
  }

  .fifth-section h2 {
    width: 160px;
    height: 35px;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 15px;
  }

  .paragraph {
    width: 742px;
    height: 170px;
    margin-top: 30px;
  }

  .fifth-section p {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .fifth-section p:nth-child(3) {
    display: none;
  }

  .fifth-section div img {
    width: 320px;
    height: 145px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 1512px) {
  .fifth-section div img {
    width: 455px;
    height: 255px;
  }

  .fifth-section-group {
    flex-direction: row;
    align-items: flex-start;
    height: 300px;
  }

  .paragraph {
    flex-direction: column;
    width: 550px;
  }

  .fifth-section p {
    text-align: start;
    width: 560px;
  }
}
