.sixth-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.sixth-section-parts {
  border-right: 1px solid #373867;
}

.product {
    padding-right: 15px;
}

.company {
    padding-right: 30px;
}

.sixth-section h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.sixth-section ul {
  margin-top: 15px;
}

.sixth-section li {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 5px;
}

@media only screen and (min-width: 834px) {
  .sixth-section {
    margin-top: 80px;
  }
  
  .product {
      padding-right: 80px;
  }
  
  .company {
      padding-right: 140px;
  }
  
  .sixth-section h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
  }
  
  .sixth-section ul {
    margin-top: 40px;
  }
  
  .sixth-section li {
    font-size: 24px;
    line-height: 28px;
  }  
}


@media only screen and (min-width: 1512px) {
  .sixth-section {
    margin-top: 165px;
  }
}