.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section h1,
.first-section h2,
.first-section p,
.first-section img {
  margin-top: 5px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

.first-section h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #aace9b;
}

.first-section img {
  width: 155px;
  height: 144px;
}

.first-section p {
  width: 283px;
  height: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  order: 2;
}

.first-section button {
  display: none;
}

@media only screen and (min-width: 834px) {
  .first-section {
    margin-top: 60px;
  }

  .first-section h1 {
    font-size: 70px;
    line-height: 80px;
  }

  .first-section h2 {
    font-size: 20px;
    line-height: 25px;
  }

  .first-section img {
    width: 225px;
    height: 225px;
  }

  .first-section p {
    width: 562px;
    height: 120px;
    font-size: 30px;
    line-height: 35px;
  }
}
