<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/login.css">
    <title>Login Trackgenix</title>
</head>

<body>
    <header>
        <figure class="header-menu">
            <img class="menu" src="../../assets/img/menu.png" alt="menu-hamburguesa" />
        </figure>
        <div class="header-logo">
            <img src="../../assets/img/logotrack.svg" alt="logotrack">
        </div>
    </header>
</body>
<main class="container">
    <section class="card-login">
        <div class="login-header">
            <div class="login-back">
                <img src="../../assets/img/VectorBack.svg" alt="backToHome">
            </div>
            <div class="login-title">
                <h3>login</h3>
            </div>
        </div>
        <div>
            <form>
                <div class="login-inputs">
                    <label for="email">Email</label>
                    <input type="text" placeholder="Email">
                </div>
                <div class="login-inputs">
                    <label for="password">Password</label>
                    <input type="text"  placeholder="***********">
                </div>
                <div class="login-account">
                    <p>Don't have an account? <a href="#">sign up </a></p>
                    <a href="#">Forgot your password?</a>
                </div>
                <button type="button">login</button>
            </form>
        </div>
    </section>
</main>

</html>