body {
  font-family: "Roboto";
  width: 1512px;
}

header {
  position: fixed;
  width: 1512px;
  height: 126px;
  background: #aace9b;
  z-index: 1;
}

.header-menu img {
  position: absolute;
  width: 45px;
  height: 44.61px;
  left: 46px;
  top: 41px;
}

.header-search {
  position: absolute;
  width: 380px;
  left: 568px;
  top: 45px;
  background: #d8e7eb;
  border: 1px solid #d6d6d6;
  border-radius: 50px;
}

.header-search input {
  position: relative;
  width: 320px;
  height: 36px;
  left: 50px;
  font-size: 20px;
  background: #d8e7eb;
  border: none;
  outline: none;
}

.header-search-img {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 5px;
  left: 15px;
}

.header-know-more-btn {
  position: absolute;
  display: none;
  width: 85px;
  height: 36px;
  left: 1380px;
  top: 45px;
  background: #ff3e1d;
  border-radius: 5px;
  border: none;
  color: white;
}

nav {
  position: fixed;
  width: 400px;
  height: 100%;
  font-family: "Roboto";
  font-size: 30px;
  line-height: 35px;
  border-right: 2px solid #bfbfbf;
  background-color: white;
}

.nav-menu {
  position: relative;
  padding-left: 55px;
  top: 206px;
  color: #373867;
}

.nav-menu-underline {
  position: relative;
  width: 100px;
  margin-left: 55px;
  top: 238px;
  border: 2px solid #aace9b;
  background-color: #aace9b;
}

.nav,
h2 {
  font-weight: 700;
}

.nav-menu-ul {
  position: absolute;
  height: 420px;
  top: 260px;
}

.nav-menu-ul li {
  position: relative;
  margin: 50% 55px 40px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}

.nav-menu-ul a {
  text-decoration: none;
  color: #373867;
}

.nav-menu-ul div {
  position: absolute;
  width: 400px;
  border: 1px solid #bfbfbf;
}

.nav-contact-ul {
  position: relative;
  top: 720px;
  margin-left: 55px;
}

.nav-contact-underline {
  position: relative;
  width: 100px;
  border: 1px solid #aace9b;
  top: 30px;
}

.nav-contact-ul li {
  position: relative;
  display: flex;
  top: 60px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
}

.nav-contact-ul a {
  padding-left: 30px;
  text-decoration: none;
  color: #373867;
}

#nav-contact-address {
  margin-left: -10px;
}

#contact-address {
  padding-left: 20px;
}

main {
  width: 1112px;
  color: #373867;
}

.first-section {
  position: relative;
  height: 500px;
  top: 126px;
  left: 400px;
  padding: 85px 35px 0px 30px;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.3em;
  padding-bottom: 35px;
}

.first-section h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 35px;
  text-transform: uppercase;
  color: #aace9b;
}

.first-section p {
  width: 595px;
  height: 60px;
  padding-bottom: 35px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.first-section button {
  width: 165px;
  height: 70px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #aace9b;
  background: #ffffff;
  border: 3px solid #aace9b;
  border-radius: 5px;
}

.first-section img {
  position: absolute;
  top: 65px;
  right: 35px;
}

.second-section {
  position: relative;
  height: 400px;
  left: 400px;
  padding: 95px 0px 0px 40px;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.second-section a {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.features-underline,
.why-underline,
.info-underline,
.history-underline {
  position: relative;
  width: 125px;
  border: 2px solid #aace9b;
  background-color: #aace9b;
  margin-top: 13px;
}

.features-img-tablet {
  display: none;
}

.features-blocks {
  position: relative;
  display: flex;
}

.features-hours a {
  position: relative;
  display: flex;
  margin: 30px 90px 65px 0px;
}

.features-hours figure {
  margin-right: 70px;
  padding: 31px;
  border: 2px solid #aace9b;
  border-radius: 5px;
}

.features-hours p {
  padding: 36px 90px 0px 0px;
}

.features-reports a {
  position: relative;
  display: flex;
  margin: 30px 90px 65px 0px;
}

.features-reports figure {
  margin-right: 70px;
  padding: 37px;
  border: 2px solid #aace9b;
  border-radius: 5px;
}

.features-reports p {
  padding: 36px 90px 0px 0px;
}

.features-resource a {
  position: relative;
  display: flex;
  margin: 30px 90px 65px 0px;
}

.features-resource figure {
  margin-right: 70px;
  padding: 34px;
  border: 2px solid #aace9b;
  border-radius: 5px;
}

.features-resource p {
  padding: 36px 0px 0px 0px;
  width: 190px;
}

.features-role a {
  position: relative;
  display: flex;
  margin: 30px 90px 65px 0px;
}

.features-role figure {
  margin-right: 70px;
  padding: 31px;
  border: 2px solid #aace9b;
  border-radius: 5px;
}

.features-role p {
  padding: 36px 90px 0px 0px;
}

.third-section {
  position: relative;
  height: 350px;
  left: 400px;
  padding: 95px 0px 0px 40px;
}

.why-underline {
  width: 300px;
}

.why-info {
  position: relative;
  display: flex;
}

.why-info figure {
  padding-top: 45px;
}

.why-info a {
  margin-left: 30px;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #373867;
}

.why-info ul {
  list-style-image: url("../assets/img/why-vector.png");
  padding-left: 100px;
}

.why-info li {
  padding-top: 45px;
}

.fourth-section {
  position: relative;
  width: 675px;
  height: 600px;
  left: 400px;
  padding: 95px 0px 0px 40px;
}
.info-underline {
  width: 360px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  display: block;
  width: 650px;
  padding: 10px;
  margin: 30px 30px 30px 0px;
  border: 2px solid #aace9b;
  border-radius: 4px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  outline: none;
}

textarea {
  height: 200px;
}

::placeholder {
  color: #c4c4c4;
}

.fourth-section select {
  width: 675px;
  color: #c4c4c4;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url(../assets/img/select.png);
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

input[type="submit"],
input[type="reset"] {
  position: relative;
  width: 135px;
  height: 50px;
  margin-left: 20px;
  float: right;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid #aace9b;
  border-radius: 5px;
}

input[type="submit"] {
  color: #ffffff;
  background: #aace9b;
}

input[type="reset"] {
  color: #aace9b;
  background: #ffffff;
}

.fifth-section {
  position: relative;
  width: 1052px;
  height: 375px;
  left: 400px;
  padding: 95px 0px 0px 40px;
}

.history-underline {
  width: 160px;
}

.fifth-section button,
.history-img-desc {
  display: none;
}

.history-text {
  position: absolute;
  width: 560px;
  height: 290px;
  padding-top: 34px;
}

.fifth-section p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
}

.history-img {
  display: flex;
  float: right;
}
