.features {
  margin-top: 40px;
  margin-left: 30px;
}

.features-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.features-hours,
.features-reports,
.features-resource,
.features-role {
  display: flex;
  align-items: center;
  width: 45%;
}

.features-hours,
.features-reports {
  margin-bottom: 30px;
}

.features h2 {
  width: fit-content;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  padding-bottom: 5px;
  border-bottom: 2px solid #aace9b;
}

.features a {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.features-blocks img {
  width: 4.8vw;
  padding: 3vw;
  margin-right: 5px;
  border: 1px solid #aace9b;
  border-radius: 5px;
}

.features h3 {
  font-weight: 700;
  line-height: 0.875rem;
  margin-left: 5px;
}

@media only screen and (min-width: 834px) {
  .features {
    margin-top: 70px;
  }

  .features h2 {
    font-size: 2rem;
    line-height: 2.375rem
  }

  .features-blocks {
    margin-top: 30px;
  }

  .features-hours,
  .features-reports {
    margin-bottom: 65px;
  }

  .features-blocks img {
    margin-right: 77px;
  }

  .features h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}
